module.exports = {
    sub:function(val){
      return parseInt(val);
    },
    containsGet: function(list,id) {
      return list.indexOf(id)!==-1;
    },
    noContainsGet: function(list,id) {
      return list.indexOf(id)===-1;
    },
    reList:function(arr){
      if(arr.length>3){
        return arr.splice(0,3);
      }else{
        return arr;
      }
    },
    reListExcept3:function(arr){
      return arr.splice(3);
    },
    reTrim:function(str){
      return str.trim()
    }
}